body {
    height: 100%;
    background: linear-gradient(70deg,  #176B87 50%, #2E97A7 50%);
}
img{
    width:45%;
    margin-left:28%;
    border-radius: 15%;
}
.box-1{
    width: 25%; 
    position:relative;
    border: 1px solid black;
    padding:2%;
    padding-right: 12%;
    margin:2%;
    display:flex;
    background-color:#362FD9;
    color:#EEEEEE;
    border-radius: 7%;
    padding-left: 20%; 
    
}
.box-2{
    width: 80%;
    position:relative;
    border: 1px solid black;
    padding:2%;
    padding-right: 12%;
    margin:2%;
    display:flex;
    background-color:#362FD9;
    color:#EEEEEE;
    border-radius: 7%;
    padding-left: 20%;
    
}
.box-3{
    width:80%;
    position:relative;
    border: 1px solid black;
    padding:2%;
    padding-right: 12%;
    margin:2%;
    display:flex;
    background-color:#362FD9;
    color:#EEEEEE;
    border-radius: 7%;
    padding-left: 20%;
    padding-right:20%;
}
.box{
    display:inline-flex;
    padding-left: 25%;
}
.title{
    padding-left: 42%;
    font-size: 95%;
    text-shadow: 2px 2px  5px rgb(1, 22, 74);
    animation:animate 5s;
}
a:link, a:visited {
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  .box-1:hover{
    background-color: darkblue;
  }
  .box-2:hover{
    background-color:darkblue;
  }
  .box-3:hover{
    background-color:darkblue;
  }
@keyframes animate {
    0% {
        transform: translate(-180px);
        opacity: 0;
    }
    50% {
        transform: translate(0px);
        opacity: 1;
    }
    65% {
        transform: translate(-17px);
        opacity: 1;
    }
    75% {
        transform: translate(-22px);
        opacity: 1;
    }
    100% {
        transform: translate(0px);
        opacity: 1;
    }
}






